@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

html {
  font-family: serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%; 
  }
}
